bin/
obj/
build/
xmr-stak-cpu.layout
xmr-stak-cpu.depend
config-debug.txt

# netbeans project files
/nbproject/

# tmp files
*~

# merge original backup files
*.orig

# KDevelop files
.kdev4/
xmr-stak.kdev4
cmake-build-debug
.idea
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
config.txt
cpu.txt
*.cbp
venv
*.log
install_manifest.txt
